<div class="page-user">
  <form class="user_form signin_form" role="form" bx-name="app/exts/iform/index" data-helptype="inline">
    <div class="s_line_mb">
      <label class="label">用户名：</label>
      <input type="text" class="form-control s_input" name="name" data-valid="{required:true}">
    </div>
    <div class="s_line_mb">
      <label class="label">密码：</label>
      <input type="password" class="form-control s_input" name="password" data-valid="{required:true}">
    </div>
    <a href="javascript:;" class="btn btn-brand w100 mr10 submit" mx-click="submit">登录</a>
    <a href="#!/user/signup" class="hover">还没有账号？</a>
  </form>
</div>
